<div class="ui cards">
	<div class="card">
		<div class="content">
			<b>友情链接</b>
			<div class="ui divider"></div>
			<div class="ui list">
				<div class="item">
					亚伦 斯沃兹
				</div>
			</div>
		</div>
	</div>
</div>